[Unit]
Description=Reverse SSH Service
After=network.target

[Service]
Type=simple
ExecStartPre=/bin/sleep 10
ExecStart=/bin/bash /home/pi/reversesshservice.sh
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
