[Unit]
Description=Reverse SSH Service
After=network.target

[Service]
ExecStartPre=/bin/sleep 10
ExecStart=/bin/bash /home/pi/reversesshservice.sh %i
User=pi
Restart=always
RestartSec=30
Environment=SSH_PORT=30000
WorkingDirectory=/home/pi
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=reversessh

[Install]
WantedBy=multi-user.target
